.movieBar {
  display: flex;
  width: 69%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  background: #fff;
  min-width: 700px;
  animation: movieBarAppear 1s;
}

.imgStyle {
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgOnEdit {
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}

.infoOnEdit {
  width: 95%;
}

.editRatingBtns {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
}

.editBtns {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}

.btns {
  width: 70px;
  height: 35px;
  border-radius: 20px;
  color: #000;
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.btns:focus {
  outline: none;
}

.edit:hover {
  background: #32cd32;
}

.unrate:hover {
  background: #e50000;
}

.cancel:hover {
  background: #585858;
}

.view:hover {
  background: rgb(216, 144, 10);
}

.edit:hover,
.unrate:hover,
.cancel:hover,
.next:hover,
.view:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}

.badScore {
  border-radius: 5px;
  padding: 3px;
  background: rgb(240, 14, 26);
  font-weight: bold;
  color: #fff;
}

.normalScore {
  border-radius: 5px;
  padding: 3px;
  background: rgb(251, 235, 6);
  font-weight: bold;
  color: #fff;
}

.bestScore {
  border-radius: 5px;
  padding: 3px;
  background: gold;
  background: rgb(26, 202, 70);
  font-weight: bold;
  color: #fff;
}

.movieTitle {
  width: 200px;
}

.movieBarOnEdit {
  animation: movieBarOnEditAppear 1s;
}

@keyframes movieBarAppear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes movieBarOnEditAppear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}