.movieRateLink,
.navLink {
  text-decoration: none;
  color: white;
}

.activeNavLink {
  color: #000;
  text-decoration: underline;
}

.header {
  background: #585858;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: baseline;
  z-index: 1;
}

.brand {
  color: #ffaf38;
}

.headerInfo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
}

.nav {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.navLink:hover {
  color: #000;
}

.signInBtn {
  color: #fff;
  margin-left: 10%;
  cursor: pointer;
}

.signInBtn:hover {
  color: #000;
}

.userBar {
  display: flex;
  margin-left: 10%;
  align-self: center;
  width: 60px;
  justify-content: space-between;
}

.userImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  align-self: center;
  z-index: 1;
}

@keyframes moveLogOut {
  0% {left: -30px}
  100% {left: 0px}
}

.moveBtn {
  position: relative;
  animation: moveLogOut 1s;
}