.searchInput {
  width: 100%;
  height: 40px;
  border: solid grey;
  border-width: 0px 0px 1px 0px;
}

.searchInput input {
  height: 95%;
  width: 65%;
  margin-left: 15%;
  border: none;
  font-size: 17px;
  font-style: italic;
}

input:focus {
  outline: none;
}

.searchInput .fas {
  margin-right: 15%;
  color: grey;
}

.searchedMoviesList {
  margin-top: 20px;
}
